<!DOCTYPE html>
<html>
<head>
<title>Server</title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="/request.js"></script>
</head>
<body>
<h1>Server</h1>
<h2>CORS Test Server</h2>
<span style="display: inline-block;
  border: 1px solid #000000;
  padding: 10px;
  border-radius: 5px;">Latest Session: <strong>{{name}}</strong>
</span>
<!--span style="display: block; margin-top: 20px;">
<input type="text" class="newSession">
<input type="submit" class="subSession" value="Change Session">
</span-->
</body>
</html>